.plugin-progress-main {
  margin: 2.5% 5%;
  width: 90%;
  overflow: auto;
  height: 95%;
}

.plugin-progress-main::-webkit-scrollbar {
  width: 1rem;
}

.plugin-progress-main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.plugin-progress-main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.plugin-progress-ship-avatar {
  width: 60px;
  height: 60px;
  background-position: -110px 0;
  margin: 5px;
}

.plugin-progress-main ul li {
  float: left;
}

.plugin-progress-main ul::after {
  content: "";
  display: block; 
  clear: both;
}

.plugin-progress-main ul {
  padding-left: 0;
  list-style: none;
}

.plugin-progress-sub-title {
  float: left;
  width: 100%;
}

.plugin-progress-ship-married {
  animation: blink 5.0s linear infinite;
}

@keyframes blink {
  0% { box-shadow: 0 -5px 20px -1px white; }
  25% { box-shadow: 5px 0 20px -1px white; }
  50% { box-shadow: 0 5px 20px -1px white; }
  75% { box-shadow: -5px 0 20px -1px white; }
  100% { box-shadow: 0 -5px 20px -1px white; }
}

.plugin-progress-not-owned {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.capture-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin: 1rem;
  padding: 0.5rem;
}
